.imag:hover{
    cursor: pointer;
    transform: scale(1.05);
    
}

.link1{
    color: black;
    text-decoration: None;
    transition: all 0.3s ease;
}
.link1:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.imag2:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: grey;
    font-weight: bold;
}

.imag3:hover{
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
}

.imag{
    height:295px;
    width:295px;
    border-radius:30px;
    border: solid black 3px;
    transition: transform 0.3s ease; 
    box-shadow: 3px 3px 6px black;
}
