html,
body,
#root {
    height: 100%;
}

.parent{
    display:block;
}
.screenresponse{
    display:none;
}

@media (max-width: 815px){
    .parent{
        display:none;
    }
    .screenresponse{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}